body {

    font-family: Arial, Helvetica, sans-serif;

}

/*MAIN*/
main {
    padding: 15px;

    border-radius: 10px;
    width: 60%;
    float: left;
    margin: 0px;
}

aside {
    padding: 15px;
    background-color: #222222;
    border-radius: 10px;
    width: 30%;
    float: right;
    border: 10px groove #b9b9b9;
    color: #ffffff;

}

img {
    border: 10px groove black;
    width: 30%;
    height: auto;
}




a:link {
    color: #008000;
}

a:hover,
a:focus {
    color: #0000ff;

}

/*FOOTER*/
footer {
    padding-top: 30px;
    clear: both;
    color: #ffffff;
}


@media screen and (max-width: 796px) {
    main,
    aside {
        width: 100%; /* Set both main and aside to full width */
        float: none; /* Remove float */
    }
}